# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
env/
venv/
ENV/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Test result info
.coverage
coverage.xml
*.cover
.hypothesis/

# pip environment
pip-selfcheck.json

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Requirements
requirements.txt~
