fastapi==0.128.8
uvicorn[standard]==0.39.0
python-dotenv==1.2.1
langchain==0.3.27
langchain-community==0.3.27
langchain-text-splitters==0.3.11
langchain-google-genai==2.1.12
PyPDF2
faiss-cpu
appwrite
